/* SC.Benchmark */
/* line 5, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-pane {
  -webkit-box-shadow: 0px 0px 5px black;
  background: white;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10000;
}

/* line 12, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-pane .sc-scroll-view {
  border: 1px solid #ddd;
}

/* line 17, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-graph {
  width: 100%;
  height: 100%;
}

/* line 23, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-label-view.sc-regular-size.sc-benchmark-title {
  font-size: 16px;
}

/* line 28, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-emphasis {
  font-weight: bold;
}

/* line 33, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-top {
  height: 20px;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #ccc;
  position: absolute;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  -moz-opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

/* line 49, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-tick {
  width: 1px;
  height: 2000px;
  position: absolute;
  top: 25px;
  background-color: #ccc;
}

/* line 58, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-tick-label {
  width: 40px;
  position: absolute;
  top: 3px;
  font-size: 10px;
  margin-left: 2px;
  white-space: nowrap;
}

/* line 68, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-bar {
  height: 16px;
  position: absolute;
  font-size: 10px;
  white-space: nowrap;
  border: 1px solid #CC6633;
  background-color: #FFCC33;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffcd82), to(#de9c00));
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  line-height: 14px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  color: #4F3800;
  z-index: 2;
}

/* line 88, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-row {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 30px;
}

/* line 96, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-row.even {
  background-color: #ddd;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -moz-opacity: 0.4;
}

/* line 104, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event {
  position: absolute;
  z-index: 1;
  width: 2px;
}

/* line 110, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event:hover {
  -webkit-border-radius: 5px;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 5px black;
  background-color: red;
}

/* line 117, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx0 {
  background: blue;
}

/* line 121, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx1 {
  background: red;
}

/* line 125, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx2 {
  background: green;
}

/* line 129, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx3 {
  background: orange;
}

/* line 133, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx4 {
  background: purple;
}

/* line 137, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx5 {
  background: #ee82ee;
}

/* line 141, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/benchmark-css.scss */
.sc-benchmark-event.idx6 {
  background: #800000;
}

/* line 3, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/debug/control-test-pane-css.scss */
.sc-view.sc-control-test-pane {
  border: 1px #888888 solid;
  overflow-y: auto;
  background: white;
}

/* line 9, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/debug/control-test-pane-css.scss */
.sc-view.sc-control-test-pane .sc-view.wrapper {
  border: 1px #ccc solid;
}

/* line 6, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/inline_editor-css.scss */
.mozilla .sc-view .sc-text-field-view.inline-editor .border,
.webkit .sc-view .sc-text-field-view.inline-editor .border,
.msie .sc-view .sc-text-field-view.inline-editor .border,
.sc-view .sc-text-field-view.inline-editor .border {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

/* line 12, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/inline_editor-css.scss */
.mozilla .sc-view .sc-text-field-view.inline-editor.focus {
  outline-offset: 0px;
}

/* SC.LabelView */
/* line 5, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view {
  text-align: left;
  white-space: pre-line;
  /* Allow strings to include '\n' characters, etc., like many other UI frameworks */
}
/* line 9, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.icon img {
  position: relative;
  vertical-align: middle;
}
/* line 14, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.sc-hint {
  position: absolute;
  top: 3px;
  left: 1px;
  right: 1px;
  bottom: 3px;
  padding: 0px;
  color: #aaaaaa;
  font-size: 12px;
}
/* line 25, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.disabled {
  color: #999;
  color: rgba(50, 50, 50, 0.5);
}
/* line 30, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.sc-large-size {
  font-size: 18px;
}
/* line 34, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.sc-regular-size {
  font-size: 12px;
}
/* line 38, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.sc-small-size {
  font-size: 11px;
}
/* line 42, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/label-css.scss */
.sc-label-view.sc-tiny-size {
  font-size: 9px;
}

/* SC.StaticLayout Support */
/* line 5, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/static_layout-css.scss */
.sc-view.sc-static-layout {
  position: relative;
}

/* Common SC.TextFieldView styles - needed to work properly */
/* line 5, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view {
  border: none;
  overflow: visible;
  background: white;
}
/* line 9, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view .border {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
/* line 16, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view .padding {
  top: 0px;
  left: 3px;
  bottom: 0px;
  right: 3px;
  position: absolute;
}
/* line 24, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view.sc-text-field-accessory-view {
  z-index: 2;
}
/* line 27, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  vertical-align: middle;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
/* line 41, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  background: transparent;
  vertical-align: middle;
  resize: none;
  overflow: auto;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
/* line 55, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view.text-area .padding {
  bottom: 1px;
  top: 2px;
}
/* line 60, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view .sc-hint {
  z-index: 1;
}
/* line 64, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view .sc-hint, .sc-text-field-view .hint {
  position: absolute;
  top: 3px;
  left: 1px;
  right: 1px;
  bottom: 3px;
  padding: 0px;
  color: #aaaaaa;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
/* line 77, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view.text-area .sc-hint, .sc-text-field-view.text-area .hint {
  top: 0px;
  left: 1px;
  right: 1px;
  bottom: 2px;
}
/* line 85, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view.focus .sc-hint, .sc-text-field-view.not-empty .sc-hint {
  display: none;
}
/* line 89, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.sc-text-field-view.sc-hint .field {
  color: #B3B3B3 !important;
}
/* line 94, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.webkit .sc-text-field-view.focus {
  outline: auto 7px -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 98, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.webkit .sc-text-field-view .border {
  -webkit-appearance: textfield;
}
/* line 104, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.firefox .sc-text-field-view.focus {
  outline-color: -moz-mac-focusring;
  outline-offset: -5px;
  outline-style: solid;
  outline-width: 3px;
}
/* line 110, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.firefox .sc-text-field-view .border {
  -moz-appearance: textfield;
}
/* line 113, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.firefox .sc-text-field-view textarea.field {
  height: 100%;
}
/* line 119, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.ie .sc-text-field-view.focus {
  outline: 1px dotted;
}
/* line 122, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.ie .sc-text-field-view .border {
  border: 1px inset;
}
/* line 125, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.ie .sc-text-field-view textarea.field {
  height: 100%;
}
/* line 131, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.opera .sc-text-field-view .border {
  border: 1px inset;
}
/* line 137, tmp/chance//usr/local/rvm/gems/ruby-1-9-2-p320/gems/sproutcore-1-9-2/lib/frameworks/sproutcore/frameworks/foundation/resources/text_field-css.scss */
.mobile-safari .sc-text-field-view .border {
  border: 1px inset;
}

