/* ListItem overrides **/
$theme.footprint-built-form-item {
    margin-left: 5px;
    margin-right: 5px;
}
$theme.footprint-medium-color {
    /* Copy the style of the icon since we're currently replacing the icon with span for BuiltForms */
    margin-top: 2px;
    margin-bottom: 2px;
    position: absolute;
    width:100%;
    height: 100%;
}
