<!DOCTYPE html>
<html>
<head>
    <title>Urban Footprint Map Development</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/footprint_map.css" />

    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/mousetrap.js"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/carhartl/jquery-cookie/master/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/polymaps.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/polymaps/polybrush.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/polymaps/polymaps_extensions.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}jgrowl/jquery.jgrowl.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/javascript.util.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jsts.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_geometry.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_styling.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_queries.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_selections.js"></script>
    {% csrf_token %}
</head>
{% load tilestache_layers %}
<body><div id="map" width="100%" height="90%"></div>

<script type="text/javascript">
    mapInit();
    var w = d3.select("#map").node().clientWidth;
    var h = d3.select("#map").node().clientHeight;
</script>
<script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_painting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}sproutcore/urban_footprint/apps/footprint/resources/maps/footprint_map_controls.js"></script>
<script type="text/javascript">
    // set up CSRF for ajax calls
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    map.center({lat: 38.481191, lon: -121.5043192})
        .zoomRange([9, 18])
        .zoom(16)
        .add(po.image()
            .url(po.url("http://{S}tile.cloudmade.com"
                            + "/1a1b06b230af4efdbb989ea99e9841af" // http://cloudmade.com/register
                            + "/998/256/{Z}/{X}/{Y}.png")
                .hosts(["a.", "b.", "c.", ""]))
            );

    baseLayers = {};
    canvasLayers = {};
    layerGroups = {};
    window.resultDataList = [];


// TODO: separate layers into vector and raster levels ...
// TODO: separate EACH layer into raster and vector components with  different scales?
    {% for lay_url in layer_urls %}
        // add layer {{  lay_url|cut:"/{Z}/{X}/{Y}"|cut:"/footprint/tiles/" }} from django view

        var name = '{{  lay_url|cut:"/{Z}/{X}/{Y}"|cut:"/footprint/tiles/" }}';

        {% if lay_url == "canvas" %}
            var group = canvasLayers;
            var vector = po.geoJson().url("{{ layer_urls.canvas.vector|safe }}");
            vector.on('show', built_form_stylist).on('load', built_form_stylist).on('paint', repaint).clip(false);
            var raster = po.image().url(po.url("{{layer_urls.canvas.raster|safe}}"));

        {% elif lay_url == "base" %}
            var group = baseLayers;
            var vector = po.geoJson().url("{{ layer_urls.base.vector|safe }}");
            vector.on('show', base_stylist).on('load', base_stylist).on('paint', repaint);
            var raster = po.image().url(po.url("{{layer_urls.base.raster|safe}}"));
        {% endif %}

        vector.id(name).zoom( function(z) { return z; });
        vector.selection = [];
        vector.on('load', setDefaultLayerFeatures).on('show', renderSelection).on('load', renderSelection);
        map.add(vector); layers.push(vector);

        raster.id(name).zoom( function(z) { return z; });
        map.add(raster); layers.push(raster);
        group.vector = vector; group.raster = raster; group.selection = [];

        {% if lay_url == "canvas" %}
            layerGroups.canvas = group;
        {% elif lay_url == "base" %}
            layerGroups.base = group;
        {% endif %}

    {% endfor %}

    function getActiveLayer() {
        for (var i = 0; i < layers.length; i++) {
            if (layers[i].visible() == true) {
                return layers[i]
            }
        }
    }

    function getActiveLayerGroup() {
        var layer = getActiveLayer().id();
        var layerGroup = layerGroups[layer];
        return layerGroup;
    }


    addSwitcher();
    addToolSelector("poly", initPolygonBrush, '325px');
    addToolSelector("rect", initRectangleBrush, '285px');
    addToolSelector("nav", removeBrush, '235px');
    makePallete();

    map.on('move', groupedLayerZoomControl);

    for (i>=0; i<layers.length; i++){
        layers[i].visible(false);
    }

    layers[0].visible(true);

</script>

</body>
</html>