.parcels {
    fill-opacity: .2;
    stroke-width: 1;
    stroke: grey;
    stroke-opacity: .4;
}

.parcel_geometry:hover{
    fill-opacity: .5;
    fill:orange !important;
}

.selected{
    fill: yellow !important;
    opacity: 1 !important;
    stroke: red;
    stroke-width: 3;
}

#parcel_base {
    stroke: red !important;
    opacity: .6;
}
