@import "compass/css3";

$theme.sc-view.sc-spinner-view {
    &.spin {
        width: 42px;
        height: 42px;
    }

    &.spin-1 {
        @include slice("../images/spinner/spinner_1.png");
    }

    &.spin-2 {
        @include slice("../images/spinner/spinner_2.png");
    }

    &.spin-3 {
        @include slice("../images/spinner/spinner_3.png");
    }

    &.spin-4 {
        @include slice("../images/spinner/spinner_4.png");
    }

    &.spin-5 {
        @include slice("../images/spinner/spinner_5.png");
    }

    &.spin-6 {
        @include slice("../images/spinner/spinner_6.png");
    }

    &.spin-7 {
        @include slice("../images/spinner/spinner_7.png");
    }

    &.spin-8 {
        @include slice("../images/spinner/spinner_8.png");
    }

    &.spin-9 {
        @include slice("../images/spinner/spinner_9.png");
    }

    &.spin-10 {
        @include slice("../images/spinner/spinner_10.png");
    }

    &.spin-11 {
        @include slice("../images/spinner/spinner_11.png");
    }

    &.spin-12 {
        @include slice("../images/spinner/spinner_12.png");
    }
}

$theme.sc-view.sc-spinner-view-container {

          &.spin-circle {
              background-size: cover;
              border-radius: 80px !important;
          }

          &.dark {
              background-color: rgba(black, 0.6);
          }

          &.rounded {
              @include border-radius(10px);
          }
      }

